<p-card header="Produtos">
    <p-table [value]="produtos" styleClass="p-datatable-header p-datatable-striped">
        <ng-template pTemplate="header">
            <tr>
                <th>Código</th>
                <th>Imagem</th>
                <th>Descrição</th>
                <th>Categoria</th>
                <th>Preço</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
            <tr>

                <td><p-tag severity="warning" styleClass="full-width-text" value="{{ item.id }}" /></td>

                <td><p-image src="{{item.imagem}}" previewImageSrc="{{item.imagem}}" alt="Image" [preview]="true"
                        width="100" class="table-image" /></td>
                <td>{{ item.descricao }}</td>

                <td><p-tag severity="danger" [rounded]="true" styleClass="full-width-text"
                        value="{{ item.categoria }}" /></td>

                <td><p-button [rounded]="true" styleClass="full-width-btn" label="{{ item.preco | currency:'BRL'}}" />
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div>
                Total de Produtos: {{produtos ? produtos.length : 0 }}
            </div>
        </ng-template>
    </p-table>
</p-card>