form {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.p-field {
    // flex: 1;
    min-width: 200px;
}

.p-field.description {
    flex-grow: 2;
}

.p-field.description input {
    width: 100%;
}

.p-field label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5em;
}

.validation-error {
    color: red;
    font-size: 0.8em;
}